
<!--地块列表|博罗细老-->
<div class="panel-heading">
  <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
     href="#panel-element-alpha1" onclick="focus_boluo_A()">博罗县示例地块</a>
</div>
<div id="panel-element-alpha1" class="panel-collapse collapse">
  <div id="boluo_block_A_all" class="panel-body"
       onmouseover="add_overlay_boluo_A_all()" onmouseout="remove_boluo_overlay()">
    1-1地块细化示例区域
  </div>
  <div id="boluo_block_A_01" class="panel-body"
       onmouseover="add_overlay_boluo_A_01()" onmouseout="remove_boluo_overlay()">
    老马家水田
  </div>
  <div id="boluo_block_A_02" class="panel-body"
       onmouseover="add_overlay_boluo_A_02()" onmouseout="remove_boluo_overlay()">
    老李家水田
  </div>
  <div id="boluo_block_A_03" class="panel-body"
       onmouseover="add_overlay_boluo_A_03()" onmouseout="remove_boluo_overlay()">
    老袁家水田
  </div>
  <div id="boluo_block_A_04" class="panel-body"
       onmouseover="add_overlay_boluo_A_04()" onmouseout="remove_boluo_overlay()">
    老樊家水田
  </div>
  <div id="boluo_block_A_05" class="panel-body"
       onmouseover="add_overlay_boluo_A_05()" onmouseout="remove_boluo_overlay()">
    老樊家旱田
  </div>
  <div id="boluo_block_A_06" class="panel-body"
       onmouseover="add_overlay_boluo_A_06()" onmouseout="remove_boluo_overlay()">
    老陈家水田西
  </div>
  <div id="boluo_block_A_07" class="panel-body"
       onmouseover="add_overlay_boluo_A_07()" onmouseout="remove_boluo_overlay()">
    老陈家水田东
  </div>
  <div id="boluo_block_A_08" class="panel-body"
       onmouseover="add_overlay_boluo_A_08()" onmouseout="remove_boluo_overlay()">
    老曹家水田
  </div>
  <div id="boluo_block_A_09" class="panel-body"
       onmouseover="add_overlay_boluo_A_09()" onmouseout="remove_boluo_overlay()">
    大队旱田北
  </div>
  <div id="boluo_block_A_10" class="panel-body"
       onmouseover="add_overlay_boluo_A_10()" onmouseout="remove_boluo_overlay()">
    大队旱田南
  </div>
  <div id="boluo_block_A_11" class="panel-body"
       onmouseover="add_overlay_boluo_A_11()" onmouseout="remove_boluo_overlay()">
    示范旱田
  </div>
  <div id="boluo_block_A_12" class="panel-body"
       onmouseover="add_overlay_boluo_A_12()" onmouseout="remove_boluo_overlay()">
    示范水田
  </div>
  <div id="boluo_block_A_13" class="panel-body"
       onmouseover="add_overlay_boluo_A_13()" onmouseout="remove_boluo_overlay()">
    大队水田
  </div>
  <div id="boluo_block_A_14" class="panel-body"
       onmouseover="add_overlay_boluo_A_14()" onmouseout="remove_boluo_overlay()">
    老马家旱田
  </div>
  <div id="boluo_block_A_15" class="panel-body"
       onmouseover="add_overlay_boluo_A_15()" onmouseout="remove_boluo_overlay()">
    综合地块
  </div>
</div>
<!--地块列表|博罗巨-->
<div class="panel-heading">
  <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
     href="#panel-element-alpha2" onclick="focus_boluo_B()">博罗县全部地块</a>
</div>
<div id="panel-element-alpha2" class="panel-collapse collapse">
  <div id="boluo_block_B_all" class="panel-body"
       onmouseover="add_overlay_boluo_B_all()" onmouseout="remove_boluo_overlay()">
    全部地块
  </div>
  <!--
  <div id="boluo_block_B1_1" class="panel-body"
       onmouseover="add_overlay_boluo_B_1()" onmouseout="remove_boluo_overlay()">
    十字田埂示例区域
  </div>
  <div id="boluo_block_B2_1" class="panel-body"
       onmouseover="add_overlay_boluo_B_2()" onmouseout="remove_boluo_overlay()">
    水塘示例区域
  </div>
  -->
</div>
<!--地块列表|北航-->
<div class="panel-heading">
  <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
     href="#panel-element-test1" onclick="focus_test_A()">北京航空航天大学</a>
</div>
<div id="panel-element-test1" class="panel-collapse collapse">
  <div id="block_test_A_1" class="panel-body"
       onmouseover="add_overlay_test_A_1()" onmouseout="remove_test_overlay()">
    新主楼
  </div>
  <div id="block_test_A_2" class="panel-body"
       onmouseover="add_overlay_test_A_2()" onmouseout="remove_test_overlay()">
    老教学区
  </div>
  <div id="block_test_A_3" class="panel-body"
       onmouseover="add_overlay_test_A_3()" onmouseout="remove_test_overlay()">
    体育馆游泳馆
  </div>
  <div id="block_test_A_4" class="panel-body"
       onmouseover="add_overlay_test_A_4()" onmouseout="remove_test_overlay()">
    操场
  </div>
  <div id="block_test_A_5" class="panel-body"
       onmouseover="add_overlay_test_A_5()" onmouseout="remove_test_overlay()">
    北区
  </div>
  <div id="block_test_A_6" class="panel-body"
       onmouseover="add_overlay_test_A_6()" onmouseout="remove_test_overlay()">
    大运村
  </div>
</div>
<!--地块列表|首欣-->
<div class="panel-heading">
  <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
     href="#panel-element-test2" onclick="focus_test_B()">首欣科技</a>
</div>
<div id="panel-element-test2" class="panel-collapse collapse">
  <div id="block_test_B_2" class="panel-body"
       onmouseover="add_overlay_test_B_2()" onmouseout="remove_test_overlay()">
    世宁大厦
  </div>
  <div id="block_test_B_3" class="panel-body"
       onmouseover="add_overlay_test_B_3()" onmouseout="remove_test_overlay()">
    学院国际大厦
  </div>
  <div id="block_test_B_4" class="panel-body"
       onmouseover="add_overlay_test_B_4()" onmouseout="remove_test_overlay()">
    致真大厦
  </div>
</div>
