<!--
# File Path : /app/views/welcome/data.html.erb
# Changed by Ma Xiaohang(maffee)
# Data Page
# Created by maffee on 16/10/9.
 -->
<head>
  <title>ABOUT|SoshineSee</title>
</head>
<body>
<div class="container" id="data">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img alt="博罗西南地块缩略图" src="/assets/demo/NVDI-all_h400.jpg" />
            <div class="caption">
              <h3>博罗地块</h3>
              <h4>博罗南部</h4>
              <p>
                <span class="glyphicon glyphicon-tree-conifer">11张巨幅NVDI照片</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">每幅包含TIFF,TFW,KML文件,以及PNG和JPEG格式图片.</span><br/>
                <span class="glyphicon glyphicon-tree-conifer">1张7cm照片NC图和其NVDI图片(巨幅1-1地块靠近西北的1/4部分)</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">分别包含其TIFF,TFW,KML文件,并且还有PNG和JPEG格式图片.</span><br/>
                <span class="glyphicon glyphicon-tree-conifer">1张50cmVAL照片</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">包含其TIFF,TFW,KML文件,以及PNG和JPEG格式图片.</span><br/>
                <span class="glyphicon glyphicon-tree-conifer">1张50cmNC照片</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">包含其TIFF,TFW,KML文件,以及PNG和JPEG格式图片.</span>
              </p>
              <p>
                <button type="button" class="btn btn-primary" id="btn_tabs1" data-toggle="tooltip"
                        data-placement="right" title="显示本地块详细文件数据" onclick="show_tabs1()">详细文件数据</button>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="thumbnail">
            <img alt="北航缩略图" src="/assets/demo/buaamap_s.jpg" />
            <div class="caption">
              <h3>北航</h3>
              <h4>学院路</h4>
              <p>
                <span class="glyphicon glyphicon-tree-conifer">北航</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">北航</span><br/>
              </p>
              <p>
                <button type="button" class="btn btn-primary" id="btn_tabs2" data-toggle="tooltip"
                        data-placement="right" title="显示本地块详细文件数据" onclick="show_tabs2()">详细文件数据</button>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="tabbable" id="tabs1">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel1-sec1" data-toggle="tab">20cm NVDI图</a>
          </li>
          <li>
            <a href="#panel1-sec2" data-toggle="tab">7cm细节图</a>
          </li>
          <li>
            <a href="#panel1-sec3" data-toggle="tab">50cm NC图 VAL图</a>
          </li>
          <li>
            <a href="#panel1-sec4" data-toggle="tab">十字田埂局部</a>
          </li>
          <li>
            <a href="#panel1-sec5" data-toggle="tab">水塘局部</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel1-sec1">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>boluo_NDVI_20cm-0-0.tif</td>
                <td>TIFF</td>
                <td>13MB</td>
                <td>博罗巨幅地块0-0,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-0-0.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块0-0,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-0-0.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块0-0,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-0-0.png</td>
                <td>PNG</td>
                <td>6.6MB</td>
                <td>博罗巨幅地块0-0,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-0.jpg</td>
                <td>JPEG</td>
                <td>4.1MB</td>
                <td>博罗巨幅地块0-0,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-0_s.jpg</td>
                <td>JPEG</td>
                <td>265KB</td>
                <td>博罗巨幅地块0-0,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="tiff">
                <td>boluo_NDVI_20cm-0-1.tif</td>
                <td>TIFF</td>
                <td>183MB</td>
                <td>博罗巨幅地块0-1,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-0-1.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块0-1,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-0-1.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块0-1,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-0-1.png</td>
                <td>PNG</td>
                <td>94.7MB</td>
                <td>博罗巨幅地块0-1,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-1.jpg</td>
                <td>JPEG</td>
                <td>19.3MB</td>
                <td>博罗巨幅地块0-1,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-1_s.jpg</td>
                <td>JPEG</td>
                <td>1700KB</td>
                <td>博罗巨幅地块0-1,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="tiff">
                <td>boluo_NDVI_20cm-0-2.tif</td>
                <td>TIFF</td>
                <td>119.4MB</td>
                <td>博罗巨幅地块0-2,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-0-2.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块0-2,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-0-2.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块0-2,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-0-2.png</td>
                <td>PNG</td>
                <td>63.6MB</td>
                <td>博罗巨幅地块0-2,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-2.jpg</td>
                <td>JPEG</td>
                <td>13MB</td>
                <td>博罗巨幅地块0-2,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-2_s.jpg</td>
                <td>JPEG</td>
                <td>1200KB</td>
                <td>博罗巨幅地块0-2,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="tiff">
                <td>boluo_NDVI_20cm-1-0.tif</td>
                <td>TIFF</td>
                <td>118.5MB</td>
                <td>博罗巨幅地块1-0,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-1-0.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块1-0,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-1-0.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块1-0,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-1-0.png</td>
                <td>PNG</td>
                <td>61.4MB</td>
                <td>博罗巨幅地块1-0,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-1-0.jpg</td>
                <td>JPEG</td>
                <td>13.2MB</td>
                <td>博罗巨幅地块1-0,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-1-0_s.jpg</td>
                <td>JPEG</td>
                <td>1200KB</td>
                <td>博罗巨幅地块1-0,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="tiff">
                <td>boluo_NDVI_20cm-1-1.tif</td>
                <td>TIFF</td>
                <td>205.8MB</td>
                <td>博罗巨幅地块1-1,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-1-1.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块1-1,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-1-1.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块1-1,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-1-1.png</td>
                <td>PNG</td>
                <td>106.3MB</td>
                <td>博罗巨幅地块1-1,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-1-1.jpg</td>
                <td>JPEG</td>
                <td>20.1MB</td>
                <td>博罗巨幅地块1-1,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-1-1_s.jpg</td>
                <td>JPEG</td>
                <td>1900KB</td>
                <td>博罗巨幅地块1-1,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="tiff">
                <td>boluo_NDVI_20cm-1-2.tif</td>
                <td>TIFF</td>
                <td>32.9MB</td>
                <td>博罗巨幅地块1-2,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-1-2.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块1-2,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-1-2.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块1-2,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-1-2.png</td>
                <td>PNG</td>
                <td>16.9MB</td>
                <td>博罗巨幅地块1-2,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-1-2.jpg</td>
                <td>JPEG</td>
                <td>5.8MB</td>
                <td>博罗巨幅地块1-2,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-1-2_s.jpg</td>
                <td>JPEG</td>
                <td>461KB</td>
                <td>博罗巨幅地块1-2,WEB用JPEG格式文件高压缩率版</td>
              </tr>


              <tr class="tiff">
                <td>boluo_NDVI_20cm-2-0.tif</td>
                <td>TIFF</td>
                <td>169MB</td>
                <td>博罗巨幅地块2-0,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-2-0.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块2-0,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-2-0.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块2-0,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-2-0.png</td>
                <td>PNG</td>
                <td>87.3MB</td>
                <td>博罗巨幅地块2-0,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-2-0.jpg</td>
                <td>JPEG</td>
                <td>17.2MB</td>
                <td>博罗巨幅地块2-0,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-2-0_s.jpg</td>
                <td>JPEG</td>
                <td>1600KB</td>
                <td>博罗巨幅地块2-0,WEB用JPEG格式文件高压缩率版</td>
              </tr>


              <tr class="tiff">
                <td>boluo_NDVI_20cm-2-1.tif</td>
                <td>TIFF</td>
                <td>132.3MB</td>
                <td>博罗巨幅地块2-1,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-2-1.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块2-1,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-2-1.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块2-1,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-2-1.png</td>
                <td>PNG</td>
                <td>68.3MB</td>
                <td>博罗巨幅地块2-1,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-2-1.jpg</td>
                <td>JPEG</td>
                <td>14.1MB</td>
                <td>博罗巨幅地块2-1,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-2-1_s.jpg</td>
                <td>JPEG</td>
                <td>1300KB</td>
                <td>博罗巨幅地块2-1,WEB用JPEG格式文件高压缩率版</td>
              </tr>


              <tr class="tiff">
                <td>boluo_NDVI_20cm-2-2.tif</td>
                <td>TIFF</td>
                <td>1.9MB</td>
                <td>博罗巨幅地块2-2,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-2-2.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块2-2,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-2-2.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块2-2,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-2-2.png</td>
                <td>PNG</td>
                <td>430KB</td>
                <td>博罗巨幅地块2-2,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-2-2.jpg</td>
                <td>JPEG</td>
                <td>3.1MB</td>
                <td>博罗巨幅地块2-2,WEB用JPEG格式文件</td>
              </tr>


              <tr class="tiff">
                <td>boluo_NDVI_20cm-3-0.tif</td>
                <td>TIFF</td>
                <td>4.9MB</td>
                <td>博罗巨幅地块3-0,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-3-0.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块3-0,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-3-0.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块3-0,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-3-0.png</td>
                <td>PNG</td>
                <td>2.2MB</td>
                <td>博罗巨幅地块3-0,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-3-0.jpg</td>
                <td>JPEG</td>
                <td>3.3MB</td>
                <td>博罗巨幅地块3-0,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-3-0_s.jpg</td>
                <td>JPEG</td>
                <td>184KB</td>
                <td>博罗巨幅地块3-0,WEB用JPEG格式文件高压缩率版</td>
              </tr>


              <tr class="tiff">
                <td>boluo_NDVI_20cm-3-1.tif</td>
                <td>TIFF</td>
                <td>12.5MB</td>
                <td>博罗巨幅地块3-1,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-3-1.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块3-1,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-3-1.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块3-1,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-3-1.png</td>
                <td>PNG</td>
                <td>6.4MB</td>
                <td>博罗巨幅地块3-1,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-3-1.jpg</td>
                <td>JPEG</td>
                <td>4MB</td>
                <td>博罗巨幅地块3-1,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-3-1_s.jpg</td>
                <td>JPEG</td>
                <td>259KB</td>
                <td>博罗巨幅地块3-1,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              </tbody>
            </table>
            </p>
          </div>
          <div class="tab-pane" id="panel1-sec2">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>boluo_DOM_7cm-2-2.tif</td>
                <td>TIFF</td>
                <td>1.85GB</td>
                <td>博罗7cm细节NC图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_DOM_7cm-2-2.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗7cm细节NC图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_DOM_7cm-2-2.kml</td>
                <td>KML</td>
                <td>2KB</td>
                <td>博罗7cm细节NC图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_DOM_7cm-2-2.png</td>
                <td>PNG</td>
                <td>943.9MB</td>
                <td>博罗7cm细节NC图,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_A_nc.jpg</td>
                <td>JPEG</td>
                <td>38.3MB</td>
                <td>博罗7cm细节NC图,查看用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_A_nc_s.jpg</td>
                <td>JPEG</td>
                <td>992KB</td>
                <td>博罗7cm细节NC图,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="png">
                <td>boluo_A_nvdi.png</td>
                <td>PNG</td>
                <td>13.2MB</td>
                <td>博罗7cm细节NVDI图,查看用PNG格式文件</td>
              </tr>
              <tr class="png">
                <td>boluo_A_nvdi_s.png</td>
                <td>PNG</td>
                <td>2.6MB</td>
                <td>博罗7cm细节NVDI图,WEB用PNG格式文件高压缩率版</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
          <div class="tab-pane" id="panel1-sec3">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>DEM-50cmGSD.tif</td>
                <td>TIFF</td>
                <td>339.8MB</td>
                <td>博罗50cm总VAL图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>DEM-50cmGSD.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗50cm总VAL图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>DEM-50cmGSD.kml</td>
                <td>KML</td>
                <td>778KB</td>
                <td>博罗50cm总VAL图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>DEM-50cmGSD.png</td>
                <td>PNG</td>
                <td>48.3MB</td>
                <td>博罗50cm总VAL图,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>DEM-50cmGSD.jpg</td>
                <td>JPEG</td>
                <td>38.3MB</td>
                <td>博罗50cm总VAL图,查看用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>DEM-50cmGSD_ok_s.jpg</td>
                <td>JPEG</td>
                <td>173KB</td>
                <td>博罗50cm总VAL图,WEB用JPEG格式文件高压缩率矫正角度版</td>
              </tr>


              <tr class="tiff">
                <td>DOM-50cmGSD.tif</td>
                <td>TIFF</td>
                <td>548.3MB</td>
                <td>博罗50cm总NC图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>DOM-50cmGSD.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗50cm总NC图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>DOM-50cmGSD.kml</td>
                <td>KML</td>
                <td>492KB</td>
                <td>博罗50cm总NC图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>DOM-50cmGSD.png</td>
                <td>PNG</td>
                <td>399.3MB</td>
                <td>博罗50cm总NC图,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>DOM-50cmGSD.jpg</td>
                <td>JPEG</td>
                <td>278KB</td>
                <td>博罗50cm总NC图,查看用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>DOM-50cmGSD_ok_s.jpg</td>
                <td>JPEG</td>
                <td>1.1MB</td>
                <td>博罗50cm总NC图,WEB用JPEG格式文件高压缩率矫正角度版</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
          <div class="tab-pane" id="panel1-sec4">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>boluo_ndvi_colour-9-5.tif</td>
                <td>TIFF</td>
                <td>2MB</td>
                <td>十字田埂细节NVDI图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_ndvi_colour-9-5.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>十字田埂细节NVDI图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_ndvi_colour-9-5.kml</td>
                <td>KML</td>
                <td>512KB</td>
                <td>十字田埂细节NVDI图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_ndvi_colour-9-5.png</td>
                <td>PNG</td>
                <td>4.2MB</td>
                <td>十字田埂细节NVDI图,查看用通用PNG格式文件</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
          <div class="tab-pane" id="panel1-sec5">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>boluo-9-5.tif</td>
                <td>TIFF</td>
                <td>6.8MB</td>
                <td>水塘细节NC图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo-9-5.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>水塘细节NC图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo-9-5.kml</td>
                <td>KML</td>
                <td>486KB</td>
                <td>水塘细节NC图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo-9-5.png</td>
                <td>PNG</td>
                <td>4.2MB</td>
                <td>水塘细节NC图,查看用通用PNG格式文件</td>
              </tr>

              <tr class="tiff">
                <td>boluo_ndvi_value-9-5.tif</td>
                <td>TIFF</td>
                <td>4.5MB</td>
                <td>水塘细节VAL图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_ndvi_value-9-5.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>水塘细节VAL图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_ndvi_value-9-5.kml</td>
                <td>KML</td>
                <td>508KB</td>
                <td>水塘细节VAL图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_ndvi_value-9-5.png</td>
                <td>PNG</td>
                <td>2.1MB</td>
                <td>水塘细节VAL图,查看用通用PNG格式文件</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
        </div>
      </div>

      <div class="tabbable" id="tabs2" style="display: none" >
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel2-sec1" data-toggle="tab">20cm NVDI图</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel2-sec1">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="jpg">
                <td>buaamap.jpg</td>
                <td>JPEG</td>
                <td>265KB</td>
                <td>北航地图,WEB用JPEG格式文件高压缩率版</td>
              </tr>
              </tbody>

            </table>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</body>
<script type="text/javascript">

  $(function () {
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
  });

  document.getElementById("btn_tabs1").onclick=function(){
    document.getElementById("tabs1").style.display="block";
    document.getElementById("tabs2").style.display="none";
  };
  document.getElementById("btn_tabs2").onclick=function(){
    document.getElementById("tabs1").style.display="none";
    document.getElementById("tabs2").style.display="block";
  };



</script>
