<head>
  <title>ABOUT|SoshineSee</title>
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img alt="博罗西南地块缩略图" src="/assets/demo/NVDI-all_h400.jpg" />
            <div class="caption">
              <h3>博罗西南地块</h3>
              <h4>位于博罗西南</h4>
              <p>
                <span class="glyphicon glyphicon-tree-conifer">11张巨幅NVDI照片</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">每幅包含TIFF,TFW,KML文件,以及PNG和JPEG格式图片.</span><br/>
                <span class="glyphicon glyphicon-tree-conifer">1张7cm照片NC图和其NVDI图片(巨幅1-1地块靠近西北的1/4部分)</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">分别包含其TIFF,TFW,KML文件,并且还有PNG和JPEG格式图片.</span>
              </p>
              <p>
                <a class="btn btn-primary" href="#">详细文件数据</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <img alt="博罗高速河流交叉地块DOM" src="/assets/demo/DOM-50cmGSD_h400.jpg" />
            <div class="caption">
              <h3>博罗高速河流交叉地块</h3>
              <h4>XX高速和XX河流交叉路快</h4>
              <p>
                <span class="glyphicon glyphicon-tree-conifer">1张50cmVAL照片</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">包含其TIFF,TFW,KML文件,以及PNG和JPEG格式图片.</span><br/>
                <span class="glyphicon glyphicon-tree-conifer">1张50cmNC照片</span><br/>
                <span class="glyphicon glyphicon-tree-deciduous">包含其TIFF,TFW,KML文件,以及PNG和JPEG格式图片.</span>
              </p>
              <p>
                <a class="btn btn-primary" href="#">详细文件数据</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tabbable" id="tabs-1">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel1-sec1" data-toggle="tab">巨幅NVDI</a>
          </li>
          <li>
            <a href="#panel1-sec2" data-toggle="tab">7cm细节图</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel1-sec1">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>boluo_NDVI_20cm-0-0.tif</td>
                <td>TIFF</td>
                <td>13MB</td>
                <td>博罗巨幅地块0-0,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_NDVI_20cm-0-0.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗巨幅地块0-0,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_NDVI_20cm-0-0.kml</td>
                <td>KML</td>
                <td>506KB</td>
                <td>博罗巨幅地块0-0,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_NDVI_20cm-0-0.png</td>
                <td>PNG</td>
                <td>419.5MB</td>
                <td>博罗巨幅地块0-0,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_NDVI_20cm-0-0.jpg</td>
                <td>JPEG</td>
                <td>4.1MB</td>
                <td>博罗巨幅地块0-0,WEB用JPEG格式文件</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
          <div class="tab-pane" id="panel1-sec2">
            <p>
            <table class="table table-hover table-condensed">
              <thead>
              <tr>
                <th>文件名称</th><th>格式</th><th>大小</th><th>描述</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tiff">
                <td>boluo_DOM_7cm-2-2.tif</td>
                <td>TIFF</td>
                <td>1.85GB</td>
                <td>博罗7cm细节NC图,TIFF源照片文件</td>
              </tr>
              <tr class="tfw">
                <td>boluo_DOM_7cm-2-2.tfw</td>
                <td>TFW</td>
                <td>77KB</td>
                <td>博罗7cm细节NC图,TIFF附加TFW信息文件</td>
              </tr>
              <tr class="kml">
                <td>boluo_DOM_7cm-2-2.kml</td>
                <td>KML</td>
                <td>2KB</td>
                <td>博罗7cm细节NC图,TIFF格式附加Google坐标文件</td>
              </tr>
              <tr class="png">
                <td>boluo_DOM_7cm-2-2.png</td>
                <td>PNG</td>
                <td>943.9MB</td>
                <td>博罗7cm细节NC图,查看用通用PNG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_A_nc.jpg</td>
                <td>JPEG</td>
                <td>38.3MB</td>
                <td>博罗7cm细节NC图,WEB用JPEG格式文件</td>
              </tr>
              <tr class="jpg">
                <td>boluo_A_nc_s.jpg</td>
                <td>JPEG</td>
                <td>992KB</td>
                <td>博罗7cm细节NC图,WEB用JPEG格式文件高压缩率版</td>
              </tr>

              <tr class="png">
                <td>boluo_A_nvdi.png</td>
                <td>PNG</td>
                <td>13.2MB</td>
                <td>博罗7cm细节NVDI图,查看用通用PNG格式文件</td>
              </tr>
              <tr class="png">
                <td>boluo_A_nvdi_s.png</td>
                <td>PNG</td>
                <td>2.6MB</td>
                <td>博罗7cm细节NVDI图,查看用通用PNG格式文件高压缩版</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
        </div>
      </div>
      <div class="tabbable" id="tabs-2">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel2-sec1" data-toggle="tab">Section 1</a>
          </li>
          <li>
            <a href="#panel2-sec2" data-toggle="tab">Section 2</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel2-sec1">
            <p>
              I'm in Section 1.
            </p>
          </div>
          <div class="tab-pane" id="panel2-sec2">
            <p>
              Howdy, I'm in Section 2.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
