<div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column">
      <div class="panel-group" id="panel-968422">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-968422" href="#panel-element-350931">北航</a>
          </div>
          <div id="panel-element-350931" class="panel-collapse collapse in">
            <div id="block_A_1" class="panel-body">
              <a href="#">新主楼</a>
            </div>
            <div id="block_A_2" class="panel-body">
              <a href="#">老教学区</a>
            </div>
            <div class="panel-body">
              体育馆游泳馆
            </div>
            <div class="panel-body">
              操场
            </div>
            <div class="panel-body">
              北区
            </div>
            <div class="panel-body">
              大运村
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-968422" href="#panel-element-253919">首欣集团</a>
          </div>
          <div id="panel-element-253919" class="panel-collapse collapse">
            <div class="panel-body">
              旺座
            </div>
            <div class="panel-body">
              世宁大厦
            </div>

            <div class="panel-body">
              学院国际大厦
            </div>
            <div class="panel-body">
              致真大厦
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>地块信息</h4>
        <h5 id="blockname"> <strong>地块名称</strong><br> </h5>
        <h5> 作物信息<br> </h5>
        <h5> 时间信息<br> </h5>
        <h5> 坐标信息<br> </h5>
      </div>
    </div>
    <div class="col-md-10 column">
      <div class="jumbotron">
        <h1>
          地图
        </h1>
        <p>
          尝试地图插件
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="#">Learn more</a>
        </p>
      </div>
      <ul class="pagination pagination-sm">
        <li>
          <a href="#">201509</a>
        </li>
        <li>
          <a href="#">201511</a>
        </li>
        <li>
          <a href="#">201601</a>
        </li>
        <li>
          <a href="#">201603</a>
        </li>
        <li>
          <a href="#">201605</a>
        </li>
        <li>
          <a href="#">201607</a>
        </li>
        <li>
          <a href="#">201609</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('#block_A_1').on('click', function () {
      $('#blockname').text("新主楼")})
  });
  $(function () {
    $('#block_A_2').on('click', function () {
      $('#blockname').text("老教学区")})
  });

  $(function () {

  });


</script>
