<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>DEMO|SoshineSee</title>

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=NccogPfKH2hGdsARVdK7lsVvNao7Y4Hm"></script>
  <script type="text/javascript" src="/demo/convertor.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
  <!--加载鼠标绘制工具-->
  <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
  <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
  <!--加载检索信息窗口-->
  <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
  <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />



</head>
<body class="demo">
<div class="container">
  <div class="row clearfix">
    <!--侧边栏-->
    <div class="col-md-2 column">
      <p id="temp"></p>
      <!--侧边栏|折叠-->
      <div class="panel-group" id="panel-100">
        <div class="panel panel-default">
          <div class="panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">地块列表</h3>
            </div>
          </div>

          <!--地块列表|博罗细1-9块-->
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-demo-Boluo-A" onclick="focus_Demo_Block_Boluo_A()">博罗县示例地块A</a>
          </div>
          <div id="panel-element-demo-Boluo-A" class="panel-collapse collapse">
            <div id="Demo_Block_Boluo_A_01" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_01()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_01()">区域01|8水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_02" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_02()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_02()">区域02|1住宅+8水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_03" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_03()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_03()">区域03|4水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_04" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_04()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_04()">区域04|1住宅+10水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_05" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_05()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_05()">区域05|6干涸水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_06" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_06()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_06()">区域06|1干涸水塘+3水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_07" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_07()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_07()">区域07|2干涸水塘+8水塘</a>
            </div>
            <div id="Demo_Block_Boluo_A_08" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_08()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_08()">区域08|水塘夹角三角区农田</a>
            </div>
            <div id="Demo_Block_Boluo_A_09" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_09()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_09()">区域09|未灌溉农田</a>
            </div>
            <div id="Demo_Block_Boluo_A_10" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_A_10()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_A_10()">区域10|灌溉农田</a>
            </div>
          </div>

          <!--地块列表|博罗细2-3块-->
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-demo-Boluo-B" onclick="focus_Demo_Block_Boluo_B()">博罗县示例地块B</a>
          </div>
          <div id="panel-element-demo-Boluo-B" class="panel-collapse collapse">
            <div id="Demo_Block_Boluo_B_01" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_B_01()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_B_01()">区域01|北农田</a>
            </div>
            <div id="Demo_Block_Boluo_B_02" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_B_02()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_B_02()">区域02|西农田</a>
            </div>
            <div id="Demo_Block_Boluo_B_03" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_B_03()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_B_03()">区域03|东农田</a>
            </div>
          </div>

          <!--地块列表|博罗细3-4块-->
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-demo-Boluo-C" onclick="focus_Demo_Block_Boluo_C()">博罗县示例地块C</a>
          </div>
          <div id="panel-element-demo-Boluo-C" class="panel-collapse collapse">
            <div id="Demo_Block_Boluo_C_01" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_C_01()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_C_01()">区域01|跨树林农田</a>
            </div>
            <div id="Demo_Block_Boluo_C_02" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_C_02()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_C_02()">区域02|小块农田</a>
            </div>
            <div id="Demo_Block_Boluo_C_03" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Boluo_C_03()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Boluo_C_03()">区域03|东农田</a>
            </div>
          </div>

          <!--地块列表|涿州细1-3块-->
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-demo-Zhuo-A" onclick="focus_Demo_Block_Zhuo_A()">涿州县示例地块A</a>
          </div>
          <div id="panel-element-demo-Zhuo-A" class="panel-collapse collapse">
            <div id="Demo_Block_Zhuo_A_01" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Zhuo_A_01()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Zhuo_A_01()">区域01|西农田</a>
            </div>
            <div id="Demo_Block_Zhuo_A_02" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Zhuo_A_02()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Zhuo_A_02()">区域02|东农田</a>
            </div>
            <div id="Demo_Block_Zhuo_A_03" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Zhuo_A_03()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Zhuo_A_03()">区域03|南农田</a>
            </div>
          </div>

          <!--地块列表|涿州细2-3块-->
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-demo-Zhuo-B" onclick="focus_Demo_Block_Zhuo_B()">涿州县示例地块B</a>
          </div>
          <div id="panel-element-demo-Zhuo-B" class="panel-collapse collapse">
            <div id="Demo_Block_Zhuo_B_01" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Zhuo_B_01()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Zhuo_B_01()">区域01|西农田</a>
            </div>
            <div id="Demo_Block_Zhuo_B_02" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Zhuo_B_02()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Zhuo_B_02()">区域02|东农田</a>
            </div>
            <div id="Demo_Block_Zhuo_B_03" class="panel-body"
                 onmouseover="add_OutlineOverlay_Demo_Block_Zhuo_B_03()" onmouseout="remove_OutlineOverlay()">
              <a class="btn-link" onclick="focus_Demo_Block_Zhuo_B_03()">区域03|北农田</a>
            </div>
          </div>

          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-100"
               href="#panel-element-alpha1" onclick="focus_boluo_A()">博罗县示例地块</a>
          </div>
          <div id="panel-element-alpha1" class="panel-collapse collapse">
            <div id="boluo_block_A_all" class="panel-body"
                 onmouseover="add_overlay_boluo_A_all()" onmouseout="remove_boluo_overlay()">
              1-1地块细化示例区域
            </div>
          </div>


        </div>
      </div>

      <!--侧边栏|信息-->
      <div class="info">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">地块信息</h3>
          </div>
          <div class="panel-body">
            <h5 id="blockname"> <br> </h5>
            <h5 id="corpinfo"> <br> </h5>
            <h5 id="timeinfo"> <br> </h5>
          </div>
          <div class="panel-footer">
            <h5 id="locinfo"> <br> </h5>
          </div>
        </div>
      </div>


    </div>
    <!--主体-->
    <div class="col-md-10 column">
      <!--地图-->
      <div class="jumbotron">
          <div id="allmap">

          </div>


      </div>
      <!--日期-->

      <!--类型-->
      <div class="btn-group-vertical" id="mapchoice">
        <button type="button" class="btn btn-default" id="btn_nc" data-toggle="tooltip"
                data-placement="right" title="高清航拍图" onclick="btn_nc()">可见光</button>
        <button type="button" class="btn btn-default" id="btn_infrared" data-toggle="tooltip"
                data-placement="right" title="NDVI图" onclick="btn_infrared()">红外线</button>
        <button type="button" class="btn btn-default" id="btn_ndvi" data-toggle="tooltip"
                data-placement="right" title="NDVI图" onclick="btn_ndvi()">NDVI</button>
        <button type="button" class="btn btn-default" id="btn_val" data-toggle="tooltip"
                data-placement="right" title="VALUE图"  onclick="btn_val()">VAL</button>
        <button type="button" class="btn btn-default" id="btn_spec" data-toggle="tooltip"
                data-placement="right" title="地块特殊图" onclick="btn_spec()">SPEC</button>
        <br/>
        <button type="button" class="btn btn-default" id="btn_xy" data-toggle="tooltip"
                data-placement="right" title="获取点坐标"  onclick="btn_pointinfo()">坐标</button>
        <button type="button" class="btn btn-default" id="btn_draw" data-toggle="tooltip"
                data-placement="right" title="距离与面积"  onclick="btn_draw()">计算</button>
        <!--
        <button type="button" class="btn btn-default" id="btn_go" data-toggle="tooltip"
                data-placement="right" title="导航"  onclick="btn_go()">GO</button>
        -->
        <button type="button" class="btn btn-default" id="btn_clear" data-toggle="tooltip"
                data-placement="right" title="清除叠加图"  onclick="btn_clear()">清空</button>
      </div>


    </div>
  </div>
</div>
</body>

<script type="text/javascript">
  // 百度地图API功能 BMAP_NORMAL_MAP BMAP_HYBRID_MAP
  var map = new BMap.Map("allmap",{mapType:BMAP_HYBRID_MAP});    // 创建Map实例
  map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
  map.centerAndZoom(new BMap.Point(103, 34), 6);  // 初始化地图,设置中心点坐标和地图级别
  var top_left_type = new BMap.MapTypeControl({anchor: BMAP_ANCHOR_TOP_LEFT,offset: new BMap.Size(75,50)});
  var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT,offset: new BMap.Size(75,25)});// 左上角，添加比例尺
  var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
  map.addControl(top_left_type);   //添加地图类型控件
  map.addControl(top_left_control);
  map.addControl(top_left_navigation);
  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

  map.setMapStyle({
    styleJson:[
      {
        "featureType": "all",
        "elementType": "all",
        "stylers": {
          "lightness": 10,
          "saturation": -100
        }
      }
    ]
  });

  $(function () {$(function () { $("[data-toggle='tooltip']").tooltip(); });});

  currentblock = undefined;

  currentblock_has_nc = false;
  currentblock_has_infrared = false;
  currentblock_has_ndvi = false;
  currentblock_has_val = false;
  currentblock_has_spec = false;

  isGroundOverlay = false;
  polygon = new BMap.Polygon();
  //Only one Zone is present at a time
  zoneOverlay = undefined;
  //Only one Outline is present at a time
  outlineOverlay = undefined;

  flag_xy = -1;
  flag_calculate = -1;

  /* OutlineOverlay
   * Divided Block Outline
   * */
  var OutlinepolygonOptions = {
    strokeColor : "skyblue",
    strokeStyle : "dashed",
    strokeWeight : 2,
    strokeOpacity : 1,
    fillOpacity : 0.5,
    fillColor : "lightskyblue"
  };


  /*  drawingManager
  * Options
  * Instance
  * EventListener
  * */
  var styleOptions = {
    strokeColor:"skyblue",    //边线颜色。
    fillColor:"skyblue",      //填充颜色。当参数为空时，圆形将没有填充效果。
    strokeWeight: 2,       //边线的宽度，以像素为单位。
    strokeOpacity: 1,	   //边线透明度，取值范围0 - 1。
    fillOpacity: 0.5,      //填充的透明度，取值范围0 - 1。
    strokeStyle: 'dashed' //边线的样式，solid或dashed。
  };
  //drawingManager Instance
  var drawingManager = new BMapLib.DrawingManager(map, {
    isOpen: false, //是否开启绘制模式
    enableDrawingTool: true, //是否显示工具栏
    drawingToolOptions: {
      anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
      offset: new BMap.Size(5, 5), //偏离值
    },
    enableCalculate: false,
    circleOptions: styleOptions, //圆的样式
    polylineOptions: styleOptions, //线的样式
    polygonOptions: styleOptions, //多边形的样式
    rectangleOptions: styleOptions //矩形的样式
  });
  //drawingManager Calculate Done
  drawingManager.addEventListener("overlaycomplete", function(e) {
    var mode = e.drawingMode;
    var result = e.calculate;
    var ep = e.label.getPosition();
    e.label.setStyle({display: "none"});
    var info = new BMap.InfoWindow('', {width: 260 , title: "绘制结果:"});

    if(flag_calculate == 1){
      if(mode == "polyline"){
        if(result<1000){info.setContent(result + "米");}
        else{info.setContent(result/1000 + "千米");}
      }
      else{
        if(result<1000000){info.setContent(result + "平方米");}
        else{info.setContent(result/1000000 + "平方千米");}
      }
      map.openInfoWindow(info, ep);
    }
  });

  /*  ZoneOverlay
  * for NC\NDVI\INFRARED\etc.. image
  * Can't work in other files
  * TO BE WORK OUT WHY
  */
  function ZoneOverlay(WN,ES,imageurl,alpha){
    this._WN = WN;
    this._ES = ES;
    this._imageurl = imageurl;
    this._alpha = alpha;
  }
  ZoneOverlay.prototype = new BMap.Overlay();
  ZoneOverlay.prototype.initialize = function(map){
    this._map = map;
    var div = document.createElement("div");
    div.style.position = "absolute";
    this._width = this._map.pointToOverlayPixel(this._ES).x - this._map.pointToOverlayPixel(this._WN).x;
    this._height = this._map.pointToOverlayPixel(this._ES).y - this._map.pointToOverlayPixel(this._WN).y;
    div.style.width = this._width + "px";
    div.style.height = this._height + "px";
    var image = document.createElement("img");
    image.src = this._imageurl;
    image.width = this._width;
    image.height = this._height;
    div.style.opacity = this._alpha;
    div.style.zIndex = -9999;
    div.appendChild(image);
    map.getPanes().mapPane.appendChild(div);
    this._div = div;
    return div;
  };
  ZoneOverlay.prototype.draw = function(){
    var position = this._map.pointToOverlayPixel(this._WN);
    this._div.style.left = position.x + "px";
    this._div.style.top = position.y + "px";
  };

  map.addEventListener("zoomstart",function(){
      map.removeOverlay(zoneOverlay);
  });
  map.addEventListener("zoomend",function(){
    map.addOverlay(zoneOverlay);
  });


  var bp01 = new BMap.Point(114.203385,23.129844);
  var bp02 = new BMap.Point(114.203681,23.129844);
  var bp03 = new BMap.Point(114.204427,23.130218);
  var bp04 = new BMap.Point(114.205603,23.131165);
  var bp05 = new BMap.Point(114.206834,23.132113);
  var bp06 = new BMap.Point(114.207831,23.132586);
  var bp07 = new BMap.Point(114.208972,23.132619);
  var bp08 = new BMap.Point(114.000000,23.000000);
  var bp09 = new BMap.Point(114.210257,23.13419);
  var bp10 = new BMap.Point(114.212116,23.13419);
  var bp11 = new BMap.Point(114.213769,23.134206);
  var bp12 = new BMap.Point(114.213778,23.131448);
  var bp13 = new BMap.Point(114.212601,23.130609);
  var bp14 = new BMap.Point(114.211254,23.130783);
  var bp15 = new BMap.Point(114.210185,23.131872);
  var bp16 = new BMap.Point(114.209942,23.131772);
  var bp171 = new BMap.Point(114.208918,23.131016);
  var bp172 = new BMap.Point(114.208765,23.131348);
  var bp173 = new BMap.Point(114.208514,23.131207);
  var bp174 = new BMap.Point(114.208388,23.130808);
  var bp18 = new BMap.Point(114.207822,23.130476);
  var bp19 = new BMap.Point(114.207867,23.129977);
  var bp20 = new BMap.Point(114.209026,23.130559);
  var bp21 = new BMap.Point(114.210508,23.13031);
  var bp22 = new BMap.Point(114.209825,23.126878);
  var bp23 = new BMap.Point(114.209466,23.125831);
  var bp24 = new BMap.Point(114.209026,23.124535);
  var bp25 = new BMap.Point(114.207077,23.12456);
  var bp26 = new BMap.Point(114.204228,23.124577);
  var bp27 = new BMap.Point(114.203394,23.124577);
  var bp28 = new BMap.Point(114.203915,23.128075);
  var bp29 = new BMap.Point(114.204112,23.127535);
  var bp30 = new BMap.Point(114.204373,23.126297);
  var bp31 = new BMap.Point(114.20449,23.12574);
  var bp32 = new BMap.Point(114.205774,23.125948);
  var bp33 = new BMap.Point(114.206178,23.124901);
  var bp34 = new BMap.Point(114.20678,23.12505);
  var bp35 = new BMap.Point(114.206187,23.127152);
  var bp36 = new BMap.Point(114.207265,23.127593);
  var bp37 = new BMap.Point(114.20767,23.128889);
  var bp38 = new BMap.Point(114.206762,23.129088);
  var bp39 = new BMap.Point(114.205639,23.127817);
  var bp40 = new BMap.Point(114.205226,23.129155);
  var bp41 = new BMap.Point(114.206259,23.129578);
  var bp42 = new BMap.Point(114.206789,23.129645);

  var block01 = [bp02,bp03,bp40,bp41,bp42,bp38,bp28];
  var block02 = [bp03,bp04,bp41,bp40];
  var block03 = [bp04,bp05,bp42,bp41];
  var block04 = [bp05,bp06,bp37,bp38];
  var block05 = [bp06,bp07,bp16,bp171,bp172,bp173,bp174,bp18];
  var block06 = [bp07,bp09,bp10,bp13,bp14,bp15,bp16];
  var block07 = [bp10,bp11,bp12,bp13];
  var block08 = [bp18,bp174,bp173,bp172,bp171,bp15,bp14,bp21,bp20,bp19];
  var block09 = [bp19,bp20,bp21,bp14,bp13,bp22,bp37];
  var block10 = [bp35,bp36,bp23,bp24,bp25];
  var block11 = [bp30,bp35,bp34,bp33,bp32,bp31];
  var block12 = [bp31,bp32,bp33,bp34,bp25,bp26];
  var block13 = [bp01,bp02,bp31,bp26,bp27];
  var block14 = [bp28,bp38,bp39,bp29];
  var block15 = [bp29,bp39,bp38,bp37,bp22,bp23,bp36,bp35,bp30];



</script>
