<div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column">
      <a id="modal-154847" href="#modal-container-154847" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>
      <div class="modal fade" id="modal-container-154847" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">
                标题
              </h4>
            </div>
            <div class="modal-body">
              内容...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="panel-968422">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-968422" href="#panel-element-350931">Collapsible Group Item #1</a>
          </div>
          <div id="panel-element-350931" class="panel-collapse collapse in">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-968422" href="#panel-element-253919">Collapsible Group Item #2</a>
          </div>
          <div id="panel-element-253919" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
          注意!
        </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
      </div>
    </div>
    <div class="col-md-10 column">
      <div class="jumbotron">
        <h1>
          Hello, world!
        </h1>
        <p>
          This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="#">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>