<!DOCTYPE html>
<html>
<head>

  <script src='/talib/browser-support/es5-shim.js'></script>
  <script src="/talib/browser-support/es5-sham.js"></script>
  <script type="text/javascript">var isIE8or9 = false; var isIE9 = false;</script>
  <script src="/talib/browser-support/console-polyfill.js"></script>



  <script src="/talib/thirdparty.js"></script>

  <script type="text/javascript" src="/talib/filepicker.js"></script>

  <script src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('cZoEX1z57qDXy8vDjnKahyma');
    var envBanner = 'off'
  </script>

  <script src="/talib/finch/finch.min.js"></script>
  <script src="/talib/leaflet/leaflet-src.js"></script>
  <script src="/talib/leaflet.draw/leaflet.draw.js"></script>
  <script src="/talib/leaflet.markercluster/leaflet.markercluster.js"></script>
  <script src="/talib/leaflet-pip/leaflet-pip.min.js"></script>


  <script src="/talib/leaflet-utils/L.RotatedMarker.js"></script>
  <script src="/talib/utils/cookieParserUtil.js"></script>
  <script src="/talib/utils/geographiclib.js"></script>
  <script src="/talib/utils/domUtil.js"></script>
  <script src="/talib/utils/geopoint.js"></script>
  <script src="/talib/utils/dateTimeUtil.js"></script>
  <script src="/talib/utils/obliqueUtil.js"></script>
  <script src="/talib/polyglot/polyglot.js"></script>
  <script src="/talib/maps/i18n.js"></script>

  <!-- Segment IO loading code -->
  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("NojrrzL2kt");
      analytics.page();
    }}();
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46992409-2', 'terravion.com');
    ga('send', 'pageview');
  </script>

  <link rel="stylesheet" href="/talib/demostyle.css" />
  <link rel="stylesheet" href="/talib/leaflet.css" />
  <link rel="stylesheet" href="/talib/awsomefont.css" />
  <link rel="stylesheet" href="/talib/leafletdraw.css" />
  <link rel="stylesheet" href="/talib/map.css" />
  <link rel="stylesheet" href="/talib/MarkerCluster.css" />


  <title>Soshine Demo</title>
</head>
<body>

<div id="new-router" class="view-container"></div>

<div class="hide">
  <div id="popups"></div>
</div>

<div id="layerreport-modal"></div>
<div id="annotation-settings"></div>

<div id="login-modal"></div>

<div id="orders-modal"></div>
<div id="color-picker-modal"></div>

<div id="api-doc-modal"></div>

<div id="spinner"></div>

<div id="checkout2-modal"></div>
<div id="share-modal"></div>
<div id="manage-sharing-modal"></div>

<div id="help"></div>

<div class="modal fade" id="help-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">How to place an order for imagery with OverView</h4>
      </div>
      <div class="modal-body">
        <h4>
          Placing an order though OverView is simple--just:</h4>
        <ul>
          <li>
            Find the general location of your target.</li>
          <li>
            Add the specific area you want to your order.</li>
          <li>
            Click &ldquo;Checkout&rdquo; and complete your purchase.</li>
        </ul>
        <h4>
          To find the general location of your target:</h4>
        <ul>
          <li>
            Enter the address into the search bar, or&nbsp;</li>
          <li>
            Navigate to the area using the map interface.</li>
        </ul>
        <p>
          When using the map interface, click and hold to move the map, and use the mouse wheel (or &lsquo;+&rsquo; and &lsquo;-&lsquo;) to zoom in or out.</p>
        <h4>
          To add a specific area to your order:</h4>
        <ul>
          <li>
            Click &ldquo;+ Add Block&rdquo; in the New Order window.</li>
          <li>
            Begin drawing a polygon around your Block by clicking various points on the map. &nbsp;</li>
          <li>
            Close the polygon by clicking on the first point.</li>
        </ul>
        <p>
          You can give your Block a name by clicking Edit in the New Order window, and overwriting the standard name, &ldquo;Block 1&rdquo;.</p>
        <p>
          You can make changes to the boundaries of your block by dragging the points of your polygon.</p>
        <p>
          You can delete your block, by clicking Delete.</p>
        <h4>
          To check out:</h4>
        <ul>
          <li>
            Click Checkout in the New Order window.</li>
          <li>
            Fill in the required fields, and click Order&mdash;or if you have any questions or specific collection requirements, click Save for Later, and <a href="http://www.terravion.com/contact.html" target="blank">contact us</a>.</li>
        </ul>
        <h4>
          If you have any questions, need a custom quote, or would like more information:</h4>
        <ul>
          <li>
            <a href="http://www.terravion.com/faq.html" target="blank">Check out our FAQ</a>
          </li>
          <li>
            <a href="http://www.terravion.com/contact.html" target="blank">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>

    </div>
  </div>
</div>
<div class="tooltip" id="mousetip" style="white-space:nowrap; z-index: 999999999;">
  <div class="tooltip-inner" id="mousetip-content" style="max-width: 350px;"></div>
  <div class="tooltip-arrow"></div>
</div>

</body>
</html>
