//全局布局文件

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #F2F7F9;
  padding-top: 50px;
  font-family: "Microsoft YaHei";
  overflow-y: auto;

}
nav.navbar.navbar-default.navbar-fixed-top{
  margin-bottom: 0;
  padding-left: 20px;
}
div.navbar-header{

}

div.container{

}


tr.tiff{
  background-color: gold;
}
tr.tfw{
  background-color: goldenrod;
}
tr.kml{
  background-color: darkgoldenrod;
}
tr.png{
  background-color: lightgreen;
}
tr.jpg{
  background-color: darkseagreen;
}

tr.ui{
  background-color: lightskyblue;
}
tr.fe{
  background-color: coral;
}
tr.be{
  background-color: darkseagreen;
}
tr.archi{
  background-color: gold;
}
tr.other{
  background-color: lemonchiffon;
}
tr.app{
  background-color: #97c03d;
}
div.img{
  height: 400px;
}
span.glyphicon-tree-deciduous{
  padding-left:24px;
}
div.progress{
  margin-bottom: 0;
}
div.page-header{
  border-bottom: none;
}
table.table-condensed{
  background-color: #dddddd;
}

body.demo {
  overflow-y: hidden;

  div.container {
    margin: 0;
    padding: 0;

  }
  @media screen and (min-width: 992px) {
    .container {
      width: 100%;
      height: 100%;
    }
  }

  div.row.clearfix {
    margin: 0;
    width: inherit;
    height: inherit;
  }

  //侧栏栅格
  div.col-md-2.column {
    margin-left: -1px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    background-color: white;
  }
  div.panel-group {
    margin-bottom: 0;
  }
  div.panel.panel-default {
    margin-top: 0;
  }
  div.panel-group .panel + .panel {
    margin-top: 0;
  }

  div.info > .panel.panel-primary {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }
  .panel-body {
    padding: 5px 15px 5px 15px;
  }
  .panel-footer {
    padding: 0px 15px 0px 15px;
  }
  h5 {
    #locinfo {
      margin: 0;
    }
  }
  //地图栅格
  div.col-md-10.column {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: -2px;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    .container .jumbotron {
      padding: 0 0 0 0;
      height: 100%;
    }
  }

  #demomap {
    width: inherit;
    height: 100%;
  }
  #allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
  }
  div {
    #mapchoice {
      margin-top: -400px;
      margin-left: 20px;
      padding-right: 100px;
    }
    #maptools {
      margin-top: -175px;
      margin-left: 20px;
    }
  }

  button.btn-default {
    background-color: #f6f6f6;

  }
}

